#head{
    text-align: center;
}
#main#search{
    display: flex;
}
#category{
    font-size: 20px;
    width: 150px;
    height: 70px;
   
}
#searchinput{
    display: flex;
}
#title{
    width: 500px;
    
}