#head{
    text-align: center;
}

#category{
    font-size: 20px;
    width: 150px;
    height: 70px;
}
#search{
    display: flex;
    padding-left: 25%;
    
}
#searching{
    width: 780px;
    height: 70px;
   
}
#searchinput{
    display: flex;
}
#title{
    width: 500px;
    
}